<div class="container-fluid">
  <div class="mx-auto w-25">
    <h2 class="text-center about-title my-4">
      About
    </h2>
  </div>
  <div class="mx-auto w-75 my-3">
    <p class="text-center">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子さまからお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
    </p>
  </div>
  <div class="mx-auto about my-5">
    <%= image_tag "about.jpg",class:"w-100" %>
  </div>
</div>