<div class="container">
  <h2 class="d-inline-block bg-light mt-3">会員一覧</h2>
  <div class="col-10 mx-auto my-1">
    <table class="table">
      <thead>
        <tr class="table-secondary">
          <th scope="col">会員ID</th>
          <th scope="col">氏名</th>
          <th scope="col">メールアドレス</th>
          <th scope="col">ステータス</th>
        </tr>
      </thead>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.full_name,admin_customer_path(customer.id) %></td>
        <td><%= customer.email %></td>
        <% if customer.is_active == true %>
        <td class="text-success">有効</td>
        <% else %>
        <td class="text-secondary">退会</td>
        <% end %>
      </tr>
      <% end %>
    </table>
    <div class="justify-content-center d-flex">
      <%= paginate(@customers) %>
    </div>
  </div>
</div>
