<div class="container">
  <h2 class="d-inline-block bg-light mt-3">ジャンル編集</h2>
  <div class=" ml-2">
      <%= form_with model:@genre,url: admin_genre_path(@genre.id),local:true do |f| %>
    <div class="my-4 row field form-group">
      <div class="col-auto">
        <%= f.label "ジャンル名",class:"col-form-label" %>
      </div>
      <div class="col-auto">
        <%= f.text_field :name,autofocus:true,class:"form-control"%>
      </div>
      <div class="col-auto">
        <%= f.submit "変更を保存",class:"btn-block btn btn-success py-2 px-3" %>
      </div>
    </div>
      <% end %>
  </div>
</div>