  <div class="sidebar border col-2">
      <div class="border-bottom">
        <p class="text-center">
          ジャンル検索
        </p>
      </div>
       <% @genres.each do |genre| %>
       <% form_with%>
      <div class="genre-box">
        <%= link_to genre.name,items_path ,class:"text-dark"%>
      </div>
      <% end %>
    </div>